.app-grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: calc(100% - 30rem);
}
.img-iu {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-iu:hover {
  cursor: pointer;
}