.app {
  text-align: center;
}
.app-grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: calc(100% - 40vw);
  background-color: aqua;
}

.img-iu {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}